@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

  





body {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  color: white;
}

.head .about {
  align-items: center;
  
}

 h1, p , Button , Nav , h5 , h2 ,form , #footer {
  font-family: 'Aladin', cursive;
  
}
button{
  color: #6BBBFF;
}
h1, h2 {
  text-decoration: underline;
}