


@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Salsa&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

  p, button, #navs, h4, form {
    font-family: "Salsa", cursive;
    
  }
  

#logo{
  
  
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  
}
 nav, h1, h2, h3{
  
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-display: bolder;
  
   
   
  }
  

  

#iconn {
  font-family: "MonteCarlo", cursive;
  font-weight: 700;
  font-size: 25px;
}
#blogg{
  font-family: "MonteCarlo", cursive;
  font-weight: 700;
  font-size: 30px;
  align-items: center;
  text-decoration: underline;

}h5 {
  font-family: "Redressed", cursive;
  font-weight: 700;
  font-size: 20px;
}